#history {
	width: 85em;
}

#main {
	background-color: white;
	float: left;
	padding: 1.25em;
}

#content {
	line-height: 1.5625em;
	text-align: justify;
	float: left;
	width: 50%;
}

#widgets {
	float: left;
	width: 40%;
	margin: .625em 0 0 6.25em;
	border-radius: 1.5625em;
	border: .125em solid;
}

.copy {
	float: left;
	margin-top: 2em;
	margin-left: 0;
	font-size: 12px;
}

#foot-info {
	font-family: 'Droid Sans', sans-serif;
	font-size: .85em;
	text-align: right;
}

footer {	
	background-color: #b041c7;
	/*width: 95.8%;
	padding: 2em;
	padding-top: .5em;
	margin-top: 0;*/
}