ul {
	list-style-type: none;
	background-color: #3BC0B6;
	width: 100%;
	padding: 1em;
	margin-top: -1em;
}

li {
	display:inline-block;
	margin-right: 4em;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #fff;
}

#index {
	margin-right: 25em;
	margin-left: 10em;
}