ul {
	list-style-type: none;
	background-color: #b041c7;
	width: 100%;
	padding: 1em;
	margin-top: -1em;
	margin-bottom: 0;
}

li {
	display:inline-block;
	margin-right: 4em;
	font-family: 'Droid Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #fff;
}

#index {
	margin-right: 7em;
	margin-left: 3em;
	font-family: 'Bungee Shade', cursive;
	font-size: 2em;
}